:host {
    height: 100%;
}

.details {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header {
        padding: 1.5rem 3.75rem 1.5rem 1.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__header-name {
        width: 503px;
        height: 71px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header-label {
        font-size: 14px;
        color: var(--color-ks-text)
    }

    &__input {
        height: 2.5rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-input-border);
        background-color: var(--color-input-background);
        color: var(--color-text-primary);
        font-size: 1.25rem;
        transition: border-color 0.2s ease;

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: var(--color-input-text-placeholder);
        }
    }

    &__action {
        border-radius: 50%;
        border: 1px solid var(--accent-color);
        background: transparent;
        color: var(--accent-color);
        cursor: pointer;
        &:hover {
            border-color: var(--accent-color-hover);
            color: var(--accent-color-hover);
        }

        &--medium {
            width: 1.75rem;
            height: 1.75rem;
        }

        &--large {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.75rem;
        }
    }

    &__layout {
        display: flex;
        overflow: hidden;
        flex-grow: 1;
    }

    &__main-wrapper {
        min-width: 60%;
    }

    &__main-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 1.5rem 1.175rem 1.5rem 1.875rem;
        row-gap: 1.875rem;
    }

    // main info
    &__section {
        display: flex;
        flex-direction: column;
        row-gap: 0.875rem;
    }

    &__section-files {
        overflow: hidden;
    }

    &__section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
    }

    &__section-title {
        font-size: 0.75rem;
        color: var(--color-ks-text);
    }

    &__section-actions {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    &__files-wrap {
        overflow: auto;
        margin-bottom: 2rem;
    }

    &__files {
        width: 503px;
    }

    // empty page
    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 32px;
    }

    &__empty-text {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 20px;
    }

    &__empty-icon {
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        color: rgba(255, 255, 255, 0.7);

        svg {
            width: 48px;
            height: 48px;
        }
    }
}
