:host {
    width: 100%;
}

.validation-errors {
    margin: 0.5rem 0;
    row-gap: 0.5rem;
    &__item {
        display: block;
        font-size: 0.75rem;
        border-radius: 5px;
        border-left: 3px solid var(--color-ks-status-failed);
        background-color: var(--color-ks-transparent-red);
        color: var(--color-ks-status-failed);
        padding: 0.25rem 0.5rem;
    }
}
