.form-field-label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.75rem;

    &__text {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.3;
        color: rgba(217, 217, 222, 0.6);
    }

    &__required {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.3;
        color: #9c2e2e;
    }
}

