<div class="configure">
    <div class="configure__files-section">
        <div class="configure__files-searchbar">
            <app-search
                class="configure__input"
                placeholder="Search files..."
                [(searchTerm)]="searchTerm"
            />

            <app-button
                type="outline-primary"
                (click)="initFiles()"
            >
                Re-include Files
            </app-button>
            @if (filteredAndCheckedDocIds().length) {
                <app-button
                    [type]="bulkBtnActive() ? 'primary' : 'outline-primary'"
                    (click)="bulkBtnActive.set(!bulkBtnActive())"
                >
                    Bulk configuration
                </app-button>
                <app-icon
                    class="configure__bulk-delete"
                    [icon]="'ui/trash'"
                    [size]="'1.5rem'"
                    (click)="applyBulkDelete()"
                />
            }
        </div>

        <app-configuration-table
            [searchTerm]="searchTerm()"
            [showBulkRow]="showBulkRow()"
            [(documents)]="documents"
            [(selectedDocumentId)]="selectedDocumentId"
            (docsCheckChange)="filteredAndCheckedDocIds.set($event)"
            (docFieldChange)="onDocFieldChange($event)"
            (applyBulkUpdate)="applyBulkEdit($event)"
        />
    </div>

    <div class="configure__chunk-section">
        @if (selectedDocumentId()) {
            <span class="configure__chunk-header">
                Chunk Preview
            </span>

            <app-chunk-preview
                [documentId]="selectedDocumentId()!"
            />
        } @else {
            <div class="configure__chunk-empty">
                <app-icon
                    [icon]="'ui/file'"
                    [size]="'3rem'"
                />
                <span>Chunk Preview</span>
            </div>
        }
    </div>
</div>
