<div class="configure">
    <div class="configure__files-section">
        <div class="configure__files-searchbar">
            <app-search
                class="configure__input"
                placeholder="Search files..."
                [(searchTerm)]="searchTerm"
            />

            <app-button
                type="outline-primary"
                (click)="initFiles()"
            >
                Re-include Files
            </app-button>
            @if (filteredAndCheckedDocIds().length) {
                <app-button
                    [type]="bulkBtnActive() ? 'primary' : 'outline-primary'"
                    (click)="bulkBtnActive.set(!bulkBtnActive())"
                >
                    Bulk configuration
                </app-button>
                <app-icon
                    class="configure__bulk-delete"
                    [icon]="'ui/trash'"
                    [size]="'1.5rem'"
                    (click)="applyBulkDelete()"
                />
            }
        </div>

        <app-configuration-table
            [searchTerm]="searchTerm()"
            [showBulkRow]="showBulkRow()"
            [(documents)]="documents"
            [(selectedDocumentId)]="selectedDocumentId"
            (docsCheckChange)="filteredAndCheckedDocIds.set($event)"
            (docFieldChange)="onDocFieldChange($event)"
            (applyBulkUpdate)="applyBulkEdit($event)"
        />
    </div>

    <div class="configure__chunk-section">
        @if (selectedDocState(); as state) {
            @switch (state.status) {
                @case ('new') {
                    <div class="configure__chunk-header">
                        <span>Chunk Preview</span>
                        <app-button
                            class="configure__chunk-action-btn"
                            type="primary"
                            mod="small"
                            (click)="runChunking()"
                        >
                            Run chunk
                        </app-button>
                    </div>
                    <div class="configure__chunk-empty">
                        <app-icon
                            [icon]="'ui/file-checked'"
                            [size]="'3rem'"
                        />
                        <span>Chunking Ready Document</span>
                    </div>
                }
                @case ('chunking') {
                    <app-spinner
                        class="configure__chunk-loader"
                        text="Running chunking process..."
                        [isOverlay]="false"
                    />
                }

                <!--            @case ('chunked') {}-->

                @case ('fetching_chunks') {
                    <app-spinner
                        class="configure__chunk-loader"
                        text="Fetching chunks..."
                        [isOverlay]="false"
                    />
                }
                @case ('chunks_ready') {
                    <div class="configure__chunk-header">
                        <span>Chunk Preview</span>
                        <div class="configure__chunk-status configure__chunk-status--synchronized">
                            <app-icon
                                icon="ui/check"
                                size="0.75rem"
                            />
                            Synchronized
                        </div>
                        <app-button
                            class="configure__chunk-action-btn"
                            type="primary"
                            mod="small"
                            (click)="runChunking()"
                            [disabled]="true"
                        >
                            Fresh chunks
                        </app-button>
                    </div>
                    <app-chunk-preview [chunks]="state.chunks"/>
                }
                @case ('chunks_outdated') {
                    <div class="configure__chunk-header">
                        <span>Chunk Preview</span>
                        <div class="configure__chunk-status configure__chunk-status--outdated">
                            <app-icon
                                icon="ui/clock"
                                size="0.75rem"
                            />
                            Outdated
                        </div>
                        <app-button
                            class="configure__chunk-action-btn"
                            type="primary"
                            mod="small"
                            (click)="runChunking()"
                        >
                            Fresh chunks
                        </app-button>
                    </div>
                    <app-chunk-preview [chunks]="state.chunks"/>
                }
            }
        } @else {
            <div class="configure__chunk-header"></div>
            <div class="configure__chunk-empty">
                <app-icon
                    [icon]="'ui/file'"
                    [size]="'3rem'"
                />
                <span>Select document for Chunk Preview</span>
            </div>
        }
    </div>
</div>
