<div class="configure">
    <div class="configure__files-section">
        <div class="configure__files-searchbar">
            <app-search
                class="configure__input"
                placeholder="Search files..."
                [(searchTerm)]="searchTerm"
            />

            <app-button
                type="outline-primary"
                (click)="initFiles()"
            >
                Re-include Files
            </app-button>
            @if (checkedCount()) {
                <app-button
                    [type]="showBulkRow() ? 'primary' : 'outline-primary'"
                    (click)="showBulkRow.set(!showBulkRow())"
                >
                    Bulk configuration
                </app-button>
                <app-icon
                    class="configure__bulk-delete"
                    [icon]="'ui/trash'"
                    [size]="'1.5rem'"
                    (click)="deleteDocuments()"
                />
            }
        </div>

        <app-configuration-table
            [showBulkRow]="showBulkRow()"
            [ragId]="naiveRagId()"
            [documents]="documents()"
            [searchTerm]="searchTerm()"
            (checkedCountChange)="checkedCount.set($event)"
            [(selectedDocumentId)]="selectedDocumentId"
        />
    </div>

    <div class="configure__chunk-section">
        @if (selectedDocumentId()) {
            <span class="configure__chunk-header">
                Chunk Preview
            </span>

            <app-chunk-preview
                [documentId]="selectedDocumentId()!"
            />
        } @else {
            <div class="configure__chunk-empty">
                <app-icon
                    [icon]="'ui/file'"
                    [size]="'3rem'"
                />
                <span>Chunk Preview</span>
            </div>
        }
    </div>
</div>
