.collections-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 0 1.5rem 3.75rem;

    &__header {
        padding-right: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-label {
        font-weight: bold;
        color: var(--color-ks-text);
        font-size: 1.25rem
    }

    &__header-count {
        font-weight: normal;
        color: var(--color-ks-secondary);
    }

    &__actions {
        padding-right: 2rem;
        margin-top: 1.5rem;
        height: 2.2rem;
        display: flex;
        justify-content: space-between;
    }

    &__search {
        width: 65%;
    }

    &__select {
        height: 100%;
        width: 33%;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        row-gap: 1rem;
        margin-top: 1rem;
        margin-right: 0.8rem;
    }

    &__item {
        width: 100%;
        cursor: pointer;
    }

    &__empty {
        margin: 0.5rem 0 1rem 0;
        font-size: 1.125rem;
        color: var(--color-ks-text)
    }
}
