.file-preview {
    height: 100%;

    &--empty {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
        font-size: 1.125rem;
        color: var(--color-ks-transparent-text-80)
    }
}
