<div class="configure">
    <div class="files-section">
        <div class="files-header">
            <div class="header-title">
                Convert to Format
                <mat-icon
                    class="tooltip-icon"
                    matTooltip="Select format"
                    matTooltipPosition="above"
                >
                    help_outline
                </mat-icon>
            </div>
            <app-radio-button
                [(value)]="selectedFormat"
                [options]="formatOptions"
            />
        </div>

        <div class="files-content">
            <app-graph-rag-files-list
                [documents]="graphRag().documents"
            />
        </div>
    </div>

    <div class="params-section">
        <app-graph-rag-index-parameters
            #indexParameters
            [selectedFormat]="selectedFormat()"
            [indexConfig]="graphRag().index_config"
        />
    </div>
</div>
