<p-card (click)="cardClick.emit()" class="project-card">
    <ng-template pTemplate="header">
        <div class="card-header">
            <div class="icon-container">
                <i class="pi pi-folder" [ngStyle]="getIconStyle()"></i>
            </div>
            <div class="title-section">
                <h3 class="title">{{ project.name }}</h3>
                <div class="meta-info">
                    <span class="meta-item">{{ project.process }}</span>
                    <span class="meta-sep">~</span>
                    <span class="meta-item"
                        >{{ project.agents.length }}
                        {{
                            project.agents.length === 1 ? "agent" : "agents"
                        }}</span
                    >
                    <span class="meta-sep">~</span>
                    <span class="meta-item"
                        >{{ project.tasks.length }}
                        {{
                            project.tasks.length === 1 ? "task" : "tasks"
                        }}</span
                    >
                </div>
            </div>
            <app-project-menu
                [isOpen]="isMenuOpen"
                (menuToggle)="onMenuToggle($event)"
                (actionSelected)="onActionSelected($event)"
            ></app-project-menu>
        </div>
    </ng-template>

    <div class="description">
        {{ project.description || "No description provided." }}
    </div>

    <ng-template pTemplate="footer">
        <div class="tags-container">
            <div class="tags">
                <ng-container *ngFor="let tag of displayedTags()">
                    <app-tag [tag]="tag"></app-tag>
                </ng-container>
                <span class="more-tags" *ngIf="hasMoreTags()">
                    +{{ additionalTagsCount() }} more
                </span>
            </div>
        </div>
    </ng-template>
</p-card>
