:host ::ng-deep {
    .editor-header {
        padding: 1.25rem 1rem !important;
    }
}

.config {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 130%;
    color: var(--color-ks-text);

    &__grid {
        display: grid;
        grid-template-columns: 170px auto;
        row-gap: 1rem;
        column-gap: 1.875rem;
        align-items: center;
        padding: 1.25rem 2.5rem 1rem 1.875rem;

        &--pt-0 {
            padding-top: 0;
        }
    }

    &__divider {
        display: block;
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__grid-item {
        column-gap: 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &:nth-child(odd) {
            height: 40px;
            justify-self: end;
            align-self: flex-start;
        }

        &--short {
            width: 200px;
        }
    }

    &__input {
        width: 100%;
    }

    &__tooltip {
        color: var(--accent-color);
    }

    &__external-metadata {
        border: 1px solid var(--color-input-border);
        border-radius: 0.5rem;
        height: 200px;
        overflow: hidden;
    }

    &__json-preview {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--color-divider-subtle);
    }
}
