<div
    class="segmented-switch"
    [class.segmented-switch--disabled]="isDisabled()"
    [style.--option-count]="options().length"
>
    <div
        class="segmented-switch__slider"
        [style.transform]="sliderTransform()"
    ></div>
    @for (option of options(); track option.value) {
        <button
            type="button"
            class="segmented-switch__option"
            [class.segmented-switch__option--active]="value() === option.value"
            [disabled]="isDisabled()"
            (click)="select(option)"
        >{{ option.label }}</button>
    }
</div>
