.dialog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-nodes-sidepanel-bg);
    border-radius: 12px;
    border: 1px solid var(--color-divider-subtle);

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 2.5rem;
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__header-title {
        font-size: 1.25rem;
    }

    &__stepper {
        width: 40%;
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;

        &--close {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            margin-left: 1rem;
            border-radius: 50%;
            border: 1px solid var(--accent-color);
            background: transparent;
            color: var(--accent-color);
            cursor: pointer;

            &:hover {
                border-color: var(--accent-color-hover);
                color: var(--accent-color-hover);
            }
        }
    }

    &__content {
        flex-grow: 1;
        overflow: hidden;
    }
}
