.multi-select {
    width: 100%;
    position: relative;

    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 0.2rem;
        cursor: pointer;
    }

    &__icon {
        &--active {
            color: var(--accent-color)
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        border-radius: 10px;
        border: 1px solid var(--color-input-border);
        background-color: var(--color-input-background);
        color: var(--color-text-primary);
        box-shadow: 0 4px 10px rgba(0,0,0,0.12);
        z-index: 1005;
        height: 475px;
        width: 338px;
        display: flex;
        flex-direction: column;
    }

    &__search {
        margin: 1.25rem 1.25rem 1.5rem 1.25rem;
        padding: 0 1rem;
        height: 40px;
        font-size: 0.75rem;
        border-radius: 4px;
        border: 1px solid var(--color-ks-transparent-text-20);
        color: var(--color-ks-transparent-text-60);
        background-color: var(--color-ks-line);
    }

    &__list {
        padding: 0 0 1.25rem 1.25rem;
        border-bottom: 1px solid var(--color-divider-subtle);
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        row-gap: 0.375rem;
    }

    &__group-label {
        font-size: 0.75rem;
        color: var(--color-ks-transparent-text-60);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 298px;
        height: 40px;
        padding: 0 1rem;
        cursor: pointer;
        font-size: 0.75rem;
        border-radius: 4px;
        border: 1px solid var(--color-ks-transparent-text-20);
        background-color: var(--color-ks-line);
        color: var(--color-ks-text);
        transition: border-color 0.2s ease;

        &:hover {
            background: var(--color-ks-transparent-black-72);
        }

        &--selected {
            border: 1px solid var(--color-ks-status-completed);
        }
    }

    &__item-tip {
        margin-left: 0.5rem;
        color: var(--color-ks-transparent-text-60);
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 0.75rem 1.25rem;
        column-gap: 0.5rem;
    }
}
