<div class="dialog">
    <div class="header">
        <h2 class="title">
            Add LLM Configuration
        </h2>
        <app-icon-button
            icon="ui/x"
            ariaLabel="Close dialog"
            size="2rem"
            (onClick)="dialogRef.close()"
        >
        </app-icon-button>
    </div>

    <div
        class="form"
        [formGroup]="form"
    >
        <section class="section">
            <h3 class="title">
                MODEL INFORMATION
            </h3>
            <app-llm-model-selector
                label="Provider"
                placeholder="Select provider"
                tooltipText="Provider"
                [required]="true"
            />
            <div>
                <app-custom-input
                    formControlName="api_key"
                    label="API Key"
                    placeholder="Enter provider's API key"
                    tooltipText="Api key"
                    type="password"
                />
                <app-validation-errors
                    [control]="form.get('api_key')!"
                />
            </div>
            <div>
                <app-custom-input
                    formControlName="custom_name"
                    label="Configuration Name"
                    placeholder="Enter a custom name"
                    tooltipText="config name"
                />
                <app-validation-errors
                    [control]="form.get('api_key')!"
                />
            </div>
            <app-select
                label="Capatibilities"
                placeholder="Select capatibilities"
                tooltipText="Capatibilities"
                [items]="[]"
            />
        </section>

        <section class="section">
            <h3 class="title">
                API CONFIGURATION
            </h3>
            <app-custom-input
                label="Base URL"
                placeholder="e.g. https://api.openai.com/v1"
                tooltipText="Base url"
            />
            <div class="combined">
                <app-custom-input
                    label="API Version"
                    placeholder="01-01-2024"
                    tooltipText="Api version"
                />
                <app-custom-input
                    label="Deployment"
                    placeholder="Enter deployment here"
                    tooltipText="Deployment"
                />
            </div>
<!--            <app-key-value-list-->
<!--                formControlName="headers"-->
<!--                label="Header Configuration"-->
<!--                tooltipText="Header config"-->
<!--                namePlaceholder="Header name"-->
<!--                valuePlaceholder="Header value"-->
<!--            />-->
        </section>

        <section class="section">
            <h3 class="title">
                GENERATION PARAMETERS
            </h3>
            <div>
                <app-slider-with-stepper
                    formControlName="temperature"
                    label="Temperature"
                    tooltipText="Temperature"
                />
                <app-validation-errors
                    [control]="form.get('api_key')!"
                />
            </div>
            <div>
                <app-slider-with-stepper
                    formControlName="top_p"
                    label="Top P"
                    tooltipText="Top P"
                />
                <app-validation-errors
                    [control]="form.get('api_key')!"
                />
            </div>
            <div>
                <app-slider-with-stepper
                    formControlName="presence_penalty"
                    label="Presence Penalty"
                    tooltipText="Presence Penalty"
                />
                <app-validation-errors
                    [control]="form.get('api_key')!"
                />
            </div>
            <div>
                <app-slider-with-stepper
                    formControlName="frequency_penalty"
                    label="Frequency Penalty"
                    tooltipText="Frequency Penalty"
                />
                <app-validation-errors
                    [control]="form.get('api_key')!"
                />
            </div>
        </section>

        <section class="section">
            <h3 class="title">
                TOKEN LIMITS & COMPLETION
            </h3>

            <div class="combined">
                <div>
                    <app-input-number
                        formControlName="max_tokens"
                        label="Max Tokens"
                        tooltipText="Max tokens"
                        [alwaysShowSteps]="true"
                    />
                    <app-validation-errors
                        [control]="form.get('api_key')!"
                    />
                </div>
                <app-input-number
                    label="Max Completion Tokens"
                    tooltipText="Max Completion tokens"
                    [alwaysShowSteps]="true"
                />
            </div>
            <div class="combined">
                <app-input-number
                    label="N (Completions)"
                    tooltipText="N (Completions)"
                    [alwaysShowSteps]="true"
                />
                <app-input-number
                    label="Timeout (seconds)"
                    tooltipText="Timeout (seconds)"
                    [alwaysShowSteps]="true"
                />
            </div>
        </section>

        <section class="section">
            <h3 class="title">
                ADVANCED PARAMETERS
            </h3>
            <div class="combined">
                <div>
                    <app-input-number
                        formControlName="seed"
                        label="Seed"
                        tooltipText="Seed"
                        [alwaysShowSteps]="true"
                    />
                    <app-validation-errors
                        [control]="form.get('api_key')!"
                    />
                </div>
                <app-input-number
                    label="Top Logrobs"
                    tooltipText="Top Logrobs"
                    [alwaysShowSteps]="true"
                />
            </div>
<!--            <app-textarea-->
<!--                label="Stop Sequences (JSON)"-->
<!--                tooltipText="Stop sequences"-->
<!--                placeholder='{"sequences": ["\n\n", "Human:", "AI:"]}'-->
<!--            />-->
<!--            <app-textarea-->
<!--                label="Logit Bias (JSON)"-->
<!--                tooltipText="Logit Bias (JSON)"-->
<!--                placeholder='{"50256": -100}'-->
<!--            />-->
<!--            <app-textarea-->
<!--                label="Response format (JSON)"-->
<!--                tooltipText="Response format (JSON)"-->
<!--                placeholder='{"type": "json_object"}'-->
<!--            />-->
        </section>
    </div>

    <div class="footer">
        <app-button
            type="outline-primary"
            (click)="onCancel()"
        >
            Cancel
        </app-button>
        <app-button
            type="primary"
            (click)="onSave()"
        >
            Add LLM
        </app-button>
    </div>
</div>
