.collection {
    border-radius: 10px;
    background-color: var(--color-ks-card-background);
    padding: 0.75rem 1rem;
    width: 417px;

    &--selected {
        border: 1px solid var(--color-ks-button-activated)
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size: 1.125rem;
        color: var(--color-ks-text);
    }

    &__rag-type {
        font-size: 1rem;
        color: var(--color-ks-transparent-text-80);
    }

    &__status {
        margin-top: 0.75rem;
        font-size: 0.75rem;
        display: flex;
        column-gap: 0.5rem;
        &--completed {
            color: var(--color-ks-status-completed);
        }

        &--empty {
            color: var(--color-ks-status-new);
        }

        &--warning {
            color: var(--color-ks-status-warning);
        }

        &--uploading {
            color: var(--color-ks-status-processing);
        }

        &--failed {
            color: var(--color-ks-status-failed);
        }
    }

    &__status-icon {
        display: flex;
        align-items: center;
    }
}
