:host {
    overflow: hidden;
}

.table {
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__files-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0.7rem;
        margin-bottom: 2rem;
    }

    &__rows {
        overflow: hidden;
        margin: 0.5rem 0 0.5rem 2.5rem;
        width: 645px;
        border-radius: 10px;
        border: 1px solid var(--color-divider-subtle);
    }

    &__row-wrapper {
        border-bottom: 1px solid var(--color-divider-subtle);

        &:last-child {
            border-bottom: none;
        };

        &--dark {
            background-color: var(--color-drag-drop-active);
        }

        &--selected {
            background-color: var(--color-ks-line);
        }
    }

    &__row {
        display: grid;
        grid-template-columns:
            1rem    // checkbox
            1fr     // file name
            140px   // chunk strategy
            110px   // chunk size
            110px   // overlap
            80px;   // tune chunks
        gap: 0.5rem;
        padding: 0.5rem 0.625rem;
        align-items: center;
    }

    &__row-error {
        display: block;
        font-size: 0.75rem;
        margin: 0 0.625rem 0.5rem;
        border-radius: 5px;
        border-left: 3px solid var(--color-ks-status-failed);
        background-color: var(--color-ks-transparent-red);
        color: var(--color-ks-status-failed);
        padding: 0.25rem 0.5rem;
    }

    &__header {
        font-weight: bold;
        font-size: 0.875rem;
        width: calc(645px - 1.25rem);
        margin: 0 0 0.5rem 3.125rem;
        padding: 0;
        color: var(--color-ks-text);
        border-bottom: unset;
    }

    &__bulk-row {
        font-size: 0.75rem;
        padding: 0 2.5rem 0.5rem 3.125rem;
        color: var(--color-ks-transparent-text-80);
    }

    &__col {
        display: flex;
        align-items: center;

        &--center {
            justify-content: center;
        }

        &--unavailable {
            justify-content: center;
            font-size: 0.75rem;
            color: var(--color-ks-transparent-text-80)
        }
    }

    &__col-file {
        min-width: 0;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-size: 0.625rem;
        color: var(--color-ks-transparent-text-80);
        cursor: pointer;
    }

    &__file-icon {
        flex-shrink: 0;
    }

    &__file-name {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__col-btn {
        width: 100%;
    }
}




