@use '../../../styles/node-panel-mixins.scss' as mixins;

.panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.panel-content {
    @include mixins.panel-content;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.form-container {
    @include mixins.form-container;
    &--expanded {
        height: 100%;
    }
}

.form-layout {
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-container--expanded {
    .form-layout {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .form-data {
        overflow: auto;
        padding-right: 1rem;
        width: 550px;
    }
    .code-editor-section {
        height: 100%;
        min-height: 0;
    }
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

.code-editor-section {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-shrink: 0;

    .json-wrapper {
        margin-top: 0.75rem;
        flex-grow: 1;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--color-ks-transparent-text-80);
        opacity: 0.7;
    }

    &__info-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
    }

    &__info-link {
        color: var(--accent-color);
        margin: 0 0.25rem;
    }
}

.webhook-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    &__label-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        label {
            display: block;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            margin: 0;
        }

        .help-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            color: rgba(255, 255, 255, 0.6);
            cursor: help;
            transition: color 0.2s ease;

            &:hover {
                color: rgba(255, 255, 255, 0.9);
            }
        }
    }
}

.webhook-status {
    &__container {
        width: 100%;
        padding: 0.5rem 0.75rem;
        background-color: var(--color-input-background);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        color: white;
        font-size: 0.74rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    &__main {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    &__icon {
        &--registering {
            animation: spin 2s linear infinite;
        }
        &--failed {
            color: #f54242;
        }
        &--success {
            color: #685fff;
        }
    }
    &__error-message {
        font-size: 0.75rem;
        color: #d9d9de60
    }
}

.output-fields-section {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.output-fields {
    &__label {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.875rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__count {
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        background-color: #44464a4d;
        color: #d9d9de60;
    }

    &__container {
        width: 100%;
        padding: 0.5rem;
        background-color: var(--color-input-background);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        color: white;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 0.7);
        row-gap: 0.25rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #44464a4d;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
    }

    &__item-tip {
        color: #d9d9de60;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
