
services:
  cli_open_interpreter:
    build:
      context: ./cli_oi_tool 
      dockerfile: CLI.Dockerfile
      args:
        - MCP_CLI_OPEN_INTERPRETER_PORT=${MCP_CLI_OPEN_INTERPRETER_PORT}
    container_name: cli_open_interpreter
    env_file:
      - .env
    environment:
      PORT: ${MCP_CLI_OPEN_INTERPRETER_PORT}
    ports:
      - "${MCP_CLI_OPEN_INTERPRETER_PORT}:${MCP_CLI_OPEN_INTERPRETER_PORT}"   # HTTP MCP API
    volumes:
      - ${CREW_SAVEFILES_PATH}:/app/data
    restart: unless-stopped
    networks:
      - mcp_network 
  
  browser_open_interpreter:
    build:
      context: ./browser_oi_tool 
      dockerfile: browser.Dockerfile
      args:
        - MCP_BROWSER_OPEN_INTERPRETER_PORT=${MCP_BROWSER_OPEN_INTERPRETER_PORT}
    container_name: browser_open_interpreter
    env_file:
      - .env
    environment:
      PORT: ${MCP_BROWSER_OPEN_INTERPRETER_PORT}
    ports:
      - "${MCP_BROWSER_OPEN_INTERPRETER_PORT}:${MCP_BROWSER_OPEN_INTERPRETER_PORT}"   # HTTP MCP API
      - "5900:5900"   # VNC
      - "6080:6080"   # noVNC
    volumes:
      - ${CREW_SAVEFILES_PATH}:/app/data
    restart: unless-stopped
    networks:
      - mcp_network 

networks:
  mcp_network:
    external: true 
    driver: bridge