services:
  cli_open_interpreter:
    build:
      context: ./cli_oi_tool 
      dockerfile: CLI.Dockerfile
      args:
        - MCP_CLI_OPEN_INTERPRETER_PORT=${MCP_CLI_OPEN_INTERPRETER_PORT}
    container_name: cli_open_interpreter
    env_file:
      - .env
    environment:
      PORT: ${MCP_CLI_OPEN_INTERPRETER_PORT}
    ports:
      - "${MCP_CLI_OPEN_INTERPRETER_PORT}:${MCP_CLI_OPEN_INTERPRETER_PORT}" 
    volumes:
      - ${MCP_SAVEFILES_PATH}:/app/data
    restart: unless-stopped
    networks:
      - mcp-network 
  
  browser_open_interpreter:
    build:
      context: ./browser_oi_tool 
      dockerfile: browser.Dockerfile
      args:
        - MCP_BROWSER_OPEN_INTERPRETER_PORT=${MCP_BROWSER_OPEN_INTERPRETER_PORT}
    container_name: browser_open_interpreter
    env_file:
      - .env
    environment:
      PORT: ${MCP_BROWSER_OPEN_INTERPRETER_PORT}
    ports:
      - "${MCP_BROWSER_OPEN_INTERPRETER_PORT}:${MCP_BROWSER_OPEN_INTERPRETER_PORT}" 
      - "5900:5900"   
      - "6080:6080"   
    volumes:
      - ${MCP_SAVEFILES_PATH}:/app/data
    restart: unless-stopped
    networks:
      - mcp-network 
    extra_hosts:
      - "host.docker.internal:host-gateway"
    
  open_computer_use:
    build:
      context: ./computer_use_tool
      dockerfile: computer_use.Dockerfile
      args:
        - MCP_COMPUTER_USE_PORT=${MCP_COMPUTER_USE_PORT}
    container_name: open_computer_use
    env_file:
      - .env
    ports:
      - "${MCP_COMPUTER_USE_PORT}:${MCP_COMPUTER_USE_PORT}" 
    environment:
      PORT: ${MCP_COMPUTER_USE_PORT}
      OUTPUT_DIR: "/app/output"
      MCP_SAVEFILES_PATH: "/app/output"
    volumes:
      - ${MCP_SAVEFILES_PATH}:/app/output
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - mcp-network 
    extra_hosts:
      - "host.docker.internal:host-gateway"

  desktop:
    build:
      context: ./desktop
      dockerfile: desktop.Dockerfile
    container_name: ocu-desktop
    ports:
      - "6080:8080"
      - "5900:5900"
    environment:
      VNC_PW: "ocu"
    shm_size: "2gb"
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  mcp-network:
    external: true 
    driver: bridge