.file-uploader {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__label {
        text-align: center;
        font-size: 1.125rem;
        padding: 2.5rem 0;
    }

    &__area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2.5rem;
        padding: 0 2.5rem 2.5rem;
        border-radius: 15px;
        border: 1px dashed var(--color-input-border);

        &--active {
            background-color: var(--color-drag-drop-active);
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160px;
        width: 160px;
        border-radius: 10px;
        border: 2px dashed var(--color-input-border);
        background-color: var(--color-divider-subtle);
        cursor: pointer;
        color: var(--color-ks-button-activated);

        &:hover {
            background-color: var(--color-drag-drop-active);
        }
    }
}
