:host {
    flex-grow: 1;
}

.rag {
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    border-radius: 10px;
    background-color: var(--color-ks-line);
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    cursor: pointer;

    &--selected {
        border: 1px solid var(--color-ks-button-activated)
    }

    &--disabled {
        cursor: not-allowed;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__level {
        text-align: center;
        font-size: 0.75rem;
        color: var(--color-ks-text);
    }

    &__stars {
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        font-size: 1.125rem;
        color: var(--color-ks-button-activated);
    }

    &__description {
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--color-ks-text);
        padding-bottom: 1.25rem;
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__tip {
        font-size: 0.75rem;
        color: var(--color-ks-transparent-text-80);
    }
}
