:host {
    display: flex;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-ks-line);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:checked {
    background: var(--color-ks-text);
    border-color:  var(--color-ks-text);
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 9px;
    border: solid var(--color-ks-primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-100%, -25%);
}

input[type="checkbox"]:indeterminate {
    background:  var(--color-ks-text);
    border-color: var(--color-ks-text);
}

input[type="checkbox"]:indeterminate::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 1px;
    background: var(--color-ks-primary);
    border-radius: 1px;
}

input.multiselect {
    border: 1px solid var(--color-ks-transparent-text-20);
    background-color: var(--color-ks-transparent-text-20);
}
