<div class="config__grid config__grid--pt-0">
    <div class="config__grid-item">
        <label>Chunk Size</label>
        <mat-icon
            class="config__tooltip"
            matTooltip="The maximum size of each document chunk. Smaller chunks are more precise but may lose context. Larger chunks preserve more context but may be less precise."
            matTooltipPosition="above"
            matTooltipClass="dialog__label-tooltip"
        >
            help_outline
        </mat-icon>
    </div>
    <div class="config__grid-item config__grid-item--short">
        <app-input-number
        />
    </div>
</div>

<span class="config__divider"></span>

<div class="config__grid">
    <span class="config__grid-item">Additional parameters</span>
    <span class="config__grid-item"></span>


</div>
