.dialog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-nodes-sidepanel-bg);
    border-radius: 12px;
    border: 1px solid var(--color-divider-subtle);

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 2.5rem;
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__header-title {
        font-size: 1.25rem;
    }


    &__actions {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--accent-color);
        background: transparent;
        color: var(--accent-color);
        cursor: pointer;

        &--save {
            background-color: var(--accent-color);
            color: var(--color-text);
        }

        &:hover {
            border-color: var(--accent-color-hover);
            color: var(--accent-color-hover);
        }
    }

    &__content {
        flex-grow: 1;
        overflow: hidden;
    }
}

.main {
    display: flex;
    height: 100%;

    &__fields-section {
        display: flex;
        flex-direction: column;
        width: 950px;
        border-right: 1px solid var(--color-divider-subtle);
    }

    &__fields-searchbar {
        display: flex;
        justify-content: space-between;
        padding: 1.25rem 2.5rem 1rem 2.5rem;
    }

    &__input {
        width: 310px;
    }

    &__mock-data-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        row-gap: 0.5rem;
        overflow: hidden;
    }

    &__mock-data-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.125rem;
        padding: 1rem 2.5rem 1rem 1.875rem;
    }

    &__active-fields-count {
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--color-ks-transparent-text-80)
    }

    &__json-wrapper {
        flex-grow: 1;
        padding: 0 2.5rem 1rem 1.875rem;
    }
}
