.collections-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #fff;

    &__header {
        position: sticky;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 85px;
        padding: 1.75rem 3.75rem;
        background-color: var(--color-background-body);
        border-bottom: 1px solid var(--color-divider-subtle);
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--color-text-primary);
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% - 85px);
    }

    &__body-loading {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__sidebar {
        width: 510px;
        height: 100%;
        border-right: 1px solid var(--color-divider-subtle);
    }

    &__content {
        width: calc(100% - 510px);
        height: 100%;
    }
}
