:host {
    display: block;
    width: 100%;
    height: 100%;
}

.expression-renderer {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-word;
    color: #d9d9de;
    width: 100%;
    height: 100%;
    
    ::ng-deep .variable {
        background-color: rgba(104, 95, 255, 0.2);
        color: #a5a5ff;
        border-radius: 3px;
        padding: 0 2px;
        margin: 0 -2px;
        display: inline;
    }

    ::ng-deep .keyword {
        color: #c586c0; 
        font-weight: bold;
        text-transform: uppercase;
    }
}

