:host {
    display: flex;
    width: 100%;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.input {
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        border-radius: 0.5rem;
        overflow: hidden;
        border: 1px solid var(--color-input-border);

        &--invalid {
            border-color: var(--color-ks-status-failed);
        }
    }

    &__step {
        position: absolute;
        top: 0;
        width: 1.75rem;
        border: none;
        background: var(--color-ks-line);
        color: var(--color-ks-text);
        cursor: pointer;
        font-size: 1.75rem;
        line-height: 100%;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:hover {
            background-color: var(--color-ks-button-activated);
        }

        &--minus {
            left: 0;
        }

        &--plus {
            right: 0;
        }
    }
}

.input {
    width: 100%;
    border: none;
    background-color: var(--color-input-background);
    color: var(--color-text-primary);
    transition: border-color 0.2s ease;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

    &::placeholder {
        color: var(--color-input-text-placeholder);
    }

    &--mod-default {
        height: 40px;
        padding: 0 2.5rem;
        font-size: 0.875rem;
    }

    &--mod-small {
        height: 28px;
        padding: 0.625rem 0.5rem;
        font-size: 0.625rem;
    }

}
