<div class="ptv">
    <app-variables-breadcrumb
        [crumbs]="crumbs()"
        (crumbClick)="onCrumbClick($event)"
    />

    @if (!isDrilling()) {
        @for (section of VARIABLE_SECTIONS; track section.inputType) {
            <app-variable-section
                [config]="section"
                [initialRows]="getSectionInitialRows(section.inputType)"
                (rowsChange)="onSectionRowsChange(section.inputType, $event)"
                (navigateRow)="onNavigate($event)"
            />
        }
    } @else {
        @if (currentDrillSectionConfig(); as cfg) {
            <app-variable-section
                [config]="cfg"
                [initialRows]="currentDrillRows()"
                (rowsChange)="onDrillRowsChange($event)"
                (navigateRow)="onNavigate($event)"
            />
        }
    }
</div>
