:host {
    overflow: hidden;
}

.table {
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__fields-wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 0.7rem;
        margin-bottom: 2rem;
    }

    &__rows {
        margin: 0.5rem 0 0.5rem 2.5rem;
        width: 880px;
        border-radius: 10px;
        border: 1px solid var(--color-divider-subtle);
    }

    &__row-wrapper {
        border-bottom: 1px solid var(--color-divider-subtle);
        &--dark {
            background-color: var(--color-drag-drop-active);
        }
    }

    &__row {
        display: grid;
        grid-template-columns:
            1rem    // checkbox
            140px   // default name
            120px   // type
            200px   // assigned name
            1fr;    // description
        gap: 1.25rem;
        padding: 0.5rem 0.625rem;
        align-items: flex-start;
    }

    &__list-title {
        display: block;
        padding: 0.5rem 0 0.5rem 2.875rem;
        border-bottom: 1px solid var(--color-divider-subtle);
        font-size: 1rem;
        color: var(--color-ks-text);
    }

    &__header {
        font-weight: bold;
        font-size: 0.875rem;
        width: calc(880px - 1.25rem);
        margin: 0 0 0.5rem 3.125rem;
        padding: 0;
        color: var(--color-ks-text);
        border-bottom: unset;
    }

    &__col {
        display: flex;
        align-items: center;

        &--small {
            height: 28px;
        }
    }

    &__col-description {
        font-size: 0.625rem;
        color: var(--color-ks-transparent-text-80);
    }

    &__name-icon {
        flex-shrink: 0;
    }

    &__item-text {
        font-size: 0.75rem;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
