.tooltip-label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}

.tooltip-label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(217, 217, 222, 0.6);
    margin: 0;
}

.tooltip-label-text {
    line-height: 1.3;
}

.tooltip-label-required {
    color: #9c2e2e;
    line-height: 1.3;
}
