.label {
    &__container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 8px;
    }

    &__text {
        display: block;
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--color-ks-text);
        margin: 0;
    }

    &__required {
        color: #ef4444;
    }

    &__help-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        color: var(--accent-color);
        cursor: help;
        transition: color 0.2s ease;

        &:hover {
            color: var(--accent-color-hover);
        }

        &.class-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}
