.info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3.75rem 1.5rem 0;

    &__meta {
        display: flex;
        flex-direction: column;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        row-gap: 1.875rem;
        border: 1px solid var(--color-divider-subtle);
        border-radius: 10px;
    }

    &__meta-title {
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 130%;
        color: var(--color-ks-text);
        margin-bottom: 0.25rem;
    }

    &__meta-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
    }

    &__meta-item {
        font-size: 0.75rem;
    }

    &__meta-label {
        color: var(--color-ks-transparent-text-80);
    }

    &__meta-value {
        color: var(--color-ks-text);
    }

    // issues
    &__issues {

    }

    &__issues-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1.25rem 0;
    }

    &__issues-title {
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 130%;
        color: var(--color-ks-text);
    }

    &__issues-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    &__issue {
        padding: 0.5rem 1rem;
        font-size: 0.625rem;
        color: var(--color-ks-text);
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        border-radius: 10px;
        background-color: var(--color-ks-line);
    }

    &__issue-header {
        display: flex;
        justify-content: space-between;
    }

    &__issue-file {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    &__issue-type {
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        color: var(--color-ks-status-warning);
        background-color: var(--color-ks-transparent-yellow);
    }
}
