<form
    class="form"
    [formGroup]="configForm"
>
    <h3 class="form__label">
        MAIN SETTINGS
    </h3>
    <app-custom-input
        formControlName="full_url"
        label="Full url"
        tooltipText="full url"
        placeholder="e.g. https://localhost:8000"
    />

    <app-radio-button
        formControlName="protocol"
        label="Protocol"
        tooltipText="protocol"
        [options]="[{label: 'HTTPS', value: 'https'}, {label: 'HTTP', value: 'http'}]"
    />

    <app-input-number
        formControlName="timeout"
        class="form__timeout"
        [min]="0"
        label="Timeout (seconds)"
        tooltipText="timeout (seconds)"
    />


    <app-expand-panel
        label="Port Settings"
        tooltipText="port settings"
    >
        <app-custom-input
            formControlName="port_settings"
            placeholder="e.g. 8000"
        />
    </app-expand-panel>

    <span class="form__divider"></span>

    <h3 class="form__label">
        CORS SETTINGS
    </h3>

    <app-toggle-switch
        formControlName="enable_cors"
        label="Enable CORS"
        tooltipText="enable cors"
    />

    <app-listbox
        formControlName="permitted_origins"
        label="Permitted origins"
        tooltipText="permitted origins"
    />

</form>
