.search {
    position: relative;
    display: flex;
    justify-content: space-between;

    &--mod-default {
        height: 40px;
    }

    &--mod-small {
        height: 28px;
    }

    &__icon {
        position: absolute;
        left: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        color: var(--color-text-secondary);
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: 0 2.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-input-border);
        background-color: var(--color-input-background);
        color: var(--color-text-primary);
        font-size: 0.9rem;
        transition: border-color 0.2s ease;

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }

        &::placeholder {
            color: var(--color-input-text-placeholder);
        }
    }

    &__clear-btn {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--color-text-secondary);

        &:hover {
            color: var(--color-text-primary);
        }
    }
}
