.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem 0 0 2.5rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        padding-right: 1.875rem;
        font-size: 0.875rem;
        font-weight: 130;

        &--count {
            color: var(--accent-color);
        }
    }

    &__files-wrapper {
        overflow: auto;
        margin-right: 0.7rem;
        padding-bottom: 2rem;
    }

    &__file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        cursor: pointer;
        font-size: 0.625rem;

        &--selected {
            background-color: var(--color-ks-line);
        }
    }

    &__name-column {
        display: flex;
        column-gap: 0.5rem;
        min-width: 0;
        flex: 1;
        align-items: center;
    }

    &__file-name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__file-error {
        border-radius: 5px;
        background-color: var(--color-ks-transparent-red);
        color: var(--color-ks-status-failed);
        padding: 0.25rem 0.5rem;

        &--medium {
            font-size: 0.875rem;
        }

        &--small {
            font-size: 0.625rem;
        }
    }

    &__size-column {
        display: flex;
        column-gap: 1rem;
        flex-shrink: 0;
    }

    &__file-size {
        color: var(--color-ks-transparent-text-80);
    }
}
