.rags {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-right: 1rem;

    &__item {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-divider-subtle);
    }

    &__name {
        font-size: 0.625rem;
        color: var(--color-ks-text);
    }

    &__model {
        font-size: 0.625rem;
        color: var(--color-ks-transparent-text-80);
    }

    &__nav {
        margin-left: auto;
        color: var(--color-ks-transparent-text-80);
    }
}
